body{
    background-image: linear-gradient(to bottom, palevioletred, #ffe7eb);
}

.container{
    width: 100%;
    height: 800px;
    margin: auto;
}

#menu{
    width: 100%;
    height: 150px;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding: 4px;
}

#menu ul li a{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffe7eb;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #ffe7eb;
    color: palevioletred;
    padding: 4px;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffe7eb;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #ffe7eb;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

/*login*/

p{
    font-size: 25px;
    color: #ffe7eb;
    text-align: center;
}

#login{
    width: auto;
    height: auto;
    background-color: palevioletred;
    color: #ffe7eb;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 47%;
}

#usuario{
    height: auto;
    width: auto;
}

#conteudo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffe7eb;
    
}
